[user]
	name = Guillaume Briday
	email = guillaumebriday@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input
	mergeoptions = --no-edit
[pull]
	rebase = true
[merge]
	ff = false
[color]
	ui = true
