[user]
	name = Guillaume Briday
	email = guillaumebriday@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[pull]
	rebase = true
[merge]
	ff = false
[color]
	ui = true
