# Global aliases
alias zshconfig="vim ~/.zshrc"
alias sites="cd ~/Sites"
alias cat="ccat"
alias mkdir="mkdir -p"
alias f="open ."
alias yh="yarn install --silent --non-interactive && yarn hot"
alias yd="yarn install --silent --non-interactive && yarn dev"
alias yl="yarn install --silent --non-interactive && yarn lint"
alias hostfile="sudo vim /etc/hosts"
alias code="codium"
alias yui="yarn upgrade-interactive --latest"
alias please='sudo $(fc -ln -1)'
alias rubymine="open -na "RubyMine.app" --args \"$@\""
alias tc="cd ~/Sites/timecop-api"
alias dotfiles="code ~/dotfiles"
alias kill_rails="lsof -i 'TCP:3000' -sTCP:LISTEN -t | xargs kill -9"
alias pa="cd ~/Sites/perangusta"
alias wiki="cd ~/Sites/wiki"

# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Git aliases
alias gau="git add -u"
alias gd.="git diff --color-words=."
alias gst="clear && git status --untracked-files"
alias gs="gst"
alias gsu="clear && git status -u"
alias nah="git reset --hard HEAD && git clean -fd"
alias undo="git reset HEAD\^"
alias wip='git add -A; git rm $(git ls-files --deleted) 2> /dev/null; git commit --no-verify -m "--wip-- [skip ci]"'
alias go="git open"
alias tigd="tig master..HEAD --first-parent --no-merges"
alias gdc="git diff --cached"
alias gw="git wip"
alias gcdl="git checkout develop && git pull"

# Vagrant aliases
alias vd="vagrant destroy"
alias vgs="vagrant global-status"
alias vh="vagrant halt"
alias vp="vagrant provision"
alias vs="vagrant status"
alias vu="vagrant up"

# Docker aliases
alias dps="docker ps"
alias dc="docker-compose"
alias dcup="docker-compose up -d"
alias dcups="docker-compose up -d && bundle exec rails s"
alias dcd="docker-compose down"
alias yt="docker run --rm -u $(id -u):$(id -g) -v $PWD:/data vimagick/youtube-dl"

# Ruby aliases
alias c="prepare_rails && bundle exec rails c"
alias s="prepare_rails && bundle exec rails s"
alias boe="bundle outdated --only-explicit"
alias mrubocop="git diff --name-only -- '*.rb' | xargs bundle exec rubocop"
alias rao="bundle exec rubocop -a --only $1"
alias srspec="SELENIUM_CHROME_HEADLESS_MODE=disabled bundle exec rspec"

# PHP aliases
alias phpunit="vendor/bin/phpunit"
alias phpcs="vendor/bin/php-cs-fixer"
alias artisan="php artisan"
alias mfs="php artisan migrate:fresh --seed"
