# Global functions
path () {
  echo $PATH | tr ':' '\n'
}

# Example: port 3000
port () {
  lsof -i"TCP:$1" -sTCP:LISTEN -n -P
}

# Node functions
autoload -U add-zsh-hook

load-n() {
  node_version=".node-version"

  if [ -f "$node_version" ]; then
    current_node_version=$(node -v)
    nvmrc_node_version=$(cat "${node_version}")

    if [ "$current_node_version" != "v${nvmrc_node_version}" ]; then
      n "$nvmrc_node_version"
    fi
  fi
}

add-zsh-hook chpwd load-n
load-n

# Git functions
clone () {
  basename=$(basename $1 .git)

  git clone $1 && cd $basename
}

# Clean merged branches
sweep () {
  git branch --merged "$(git_main_branch)" | grep -v "$(git_main_branch)$" | xargs git branch -d && git remote prune origin
}

prepare_rails () {
  cd . # Change Node and Ruby version if needed

  echo 'Installing dependencies...'
  bundle install --quiet

  if [ -f package.json ]; then
    yarn install --silent --non-interactive --ignore-engines
  fi

  echo 'Removing assets & cache...'
  rm -rf public/assets tmp/cache 2> /dev/null
}
